.inboxContainer{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 50px !important;
    background-color: white !important;
   }
 ::ng-deep .dataTables_paginate{
    background-color: #e7e7e7c7 !important;
    width: 1159px  !important;
   }
   .theader{
    background-color:rgb(130, 65, 192) !important;
    color: white !important;
}
.reportButton{
    margin-bottom: 25px;
    width: 100px;
    height: 40px;
    color:rgb(130, 65, 192);
    font:normal bold 13px/15px Georgia, serif;
    border:2px solid rgb(130, 65, 192) !important;
}